* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}

.main-content {
  max-width: 1140px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 0 1rem 4rem;
}

.main-content .jumbo {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar .navbar-brand {
  text-transform: uppercase;
  color: blue;
}

.navbar img {
  width: 39%;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul a {
  display: inline-block;
  padding: 0.8rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875em;
  color: blue;
  border-bottom: 2px solid transparent;
}

.navbar ul a.active,
.navbar ul a:hover {
  border-bottom-color: green;
}

.main-footer {
  color: #fff;
  background: darkblue;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  padding: 1rem;
}

.nav-footer ul {
  text-align: right;
  list-style: none;
}

.nav-footer ul li {
  margin-bottom: 1rem;
}

.nav-footer ul li:last-child {
  margin-bottom: 0;
}

.nav-footer ul a {
  text-decoration: none;
  color: #fff;
}

.students {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.students .student {
  flex-basis: 48%;
  display: block;
  text-decoration: none;
  margin-bottom: 2rem;
  padding: 1rem;
  color: #333;
  background: #E8EBF1;
  transition: transform 0.3s;
}

.students .student:hover {
  transform: translate(-7px);
}

